<h1>New Order</h1>

<%= form_tag({controller: "orders", action: "create"}, method: "post") do %>
  <%= hidden_field_tag(:order_uid, @order_uid) %>
  <p>Product:
    <%= select_tag(:product_id, options_from_collection_for_select(@products, :id, :name)) %>
  </p>
  <p>Customer:
    <%= select_tag(:customer_id, options_from_collection_for_select(@customers, :id, :name)) %>
  </p>

  <%= submit_tag("Submit order", class: "btn btn-primary") %>
  <%= link_to 'Back', orders_path, class: "btn btn-default" %>
<% end %>
