<p id="notice"><%= notice %></p>
<h1>Order: <%= @order.uid %></h1>
<p>
Customer: <%= @order.customer %><br/>
Status: <%= @order.status %><br />
Product: <%= @product %><br/>
<% if @invoice %>
  Invoice: <%= @invoice %><br/>
<% end %>
<% if @delivery %>
  Delivery status: <%= @delivery.state %><br/>
  Delivery number: <%= @delivery.number || "n/a" %><br/>
<% end %>
</p>

<p>
<%= render "actions" %>
</p>

<p>
<%= link_to "Events for order", "/res#streams/Domain::Order$#{@order.uid}" %>
</p>


<br/>
<%= link_to 'Back', orders_path, class: "btn btn-default" %>
